.slider-block {
  top: -1rem;
}

.banner-creative .title {
  color: white !important;
  text-shadow: 1.5px 1.5px 5px black;
}

.card-block {
  background-color: #fcfbf2 !important;
  border-radius: 3px;
}

.img {
  border-radius: 2px;
}


.navbar-nav li a {
  // color: #ea4a2c !important;
  color: $color_primary !important;
  font-weight: bold;
}

.navbar-nav li a:hover {
  background-color: $color-primary;
}
.navbar-nav li a:active {
  background-color: $hilite;
}

.card-overlapped .badge {
  background-color: $text_color !important;
  border-radius: 2px;
}

.navbar-nav {
  font-size: 1rem;
}

a:active {
  color: $hilite;
}

a.text-dark:active {
  color: $hilite !important;
}

.pagination .page-item .page-link:active,
.social-icon a:active {
  background-color: $hilite;
}

.copyright {
  font-size: 0.8rem;
}

.footer-nav a {
  color: $text_color;
  font-size: 1rem;
  font-weight: bold;
}

.banner-creative .banner-image {
  transform: rotate(15deg);
  opacity: 0.9;
}

.footer-logos {
  margin: 0 0.5rem 1rem;
  width:9rem;
}

.newsletter {
    background-color: #f6fbff;
    background-repeat: no-repeat;
    background-position: right;
}
