<div style="font-family: arial, helvetica, sans-serif; font-size: 18px;">
  <div style="alignment: center; width: 30%; min-width:40rem; margin: 30px auto; text-align: center;">
    <h1>Natur Ceredigion</h1>
    <h3>Partneriaeth Natur Ceredigion / Ceredigion Nature Partnership</h3>
    <p>New Natur Ceredigion website is being constructed.<br><a href="https://www.ceredigion.gov.uk/resident/coast-countryside/conservation-and-wildlife/">In the meantime, visit our official Ceredigion Council pages</a>.</p>

<p>The Biodiversity Team at Ceredigion Nature Partnership are responsible for coordinating the overall health of our wildlife and ecosystems in Ceredigion.</p>
<p>Email <a href="&#x6d;&#97;&#x69;&#108;&#116;&#x6f;&#58;&#98;&#105;&#x6f;&#100;&#105;&#118;&#x65;&#x72;&#x73;&#x69;&#x74;&#121;&#x40;&#99;&#x65;&#x72;&#101;&#x64;&#x69;&#x67;&#x69;&#x6f;&#x6e;&#x2e;&#x67;&#x6f;&#x76;&#46;&#x75;&#x6b;">&#98;&#105;&#x6f;&#100;&#105;&#118;&#x65;&#x72;&#x73;&#x69;&#x74;&#121;&#x40;&#99;&#x65;&#x72;&#101;&#x64;&#x69;&#x67;&#x69;&#x6f;&#x6e;&#x2e;&#x67;&#x6f;&#x76;&#46;&#x75;&#x6b;</a></p>
<p><strong>Please contact <a href="https://ceredigion.gov.uk/resident/contact/">Ceredigion Council</a></strong> if your enquiry is about verge cutting, footpaths, fly-tipping, road safety, dead wildlife, roadkill etc. You can do this via <a href="https://ceredigion.gov.uk/resident/contact/">their website</a>, phone <a href="tel:+4401545570881">01545 570 881</a> or email <a href="&#x6d;&#97;&#x69;&#x6c;&#x74;&#111;&#58;&#x63;&#108;&#x69;&#99;&#x40;&#99;&#101;&#x72;&#x65;&#100;&#x69;&#103;&#105;&#111;&#110;&#x2e;&#x67;&#111;&#x76;&#46;&#x75;&#x6b;">&#x63;&#108;&#x69;&#99;&#x40;&#99;&#101;&#x72;&#x65;&#100;&#x69;&#103;&#105;&#111;&#110;&#x2e;&#x67;&#111;&#x76;&#46;&#x75;&#x6b;</a></p>
<p>For reporting Rural Crime, please phone the police on <a href="tel:+44111">111</a> or use the <a href="https://www.dyfed-powys.police.uk/ro/report/ocr/af/how-to-report-a-crime/">Dyfed Powys police website</a>.</p>
<p>For nature incidents, please phone Natural Resources Wales <a href="tel:~+44300065300">0300 065 300</a> or use <a href="https://naturalresources.wales/reportit?lang=en">their website</a>.</p>

  </div>
</div>
