<!-- footer -->
<footer class="footer py-4 bg-dark">
  <div class="container">
    <div class="row justify-content-between align-items-top pt-5">
      <div class="col-lg-5 text-center text-lg-start mb-4 mb-lg-0">
        <a href="{{ site.BaseURL | absLangURL }}" class="d-block mb-4">
          {{ partial "image.html" (dict "Src" (site.Params.footer_logo) "Alt" (site.Title)) }}
        </a>
        <p>Ceredigion Nature Partnership is a strategic collaboration of public agencies, local voluntary organisations, businesses, community groups and individuals working together to protect and radically enhance nature. <b>#NaturCeredigion</b></p>
        <ul class="list-inline social-icon mb-0 mt-0">
          {{ range site.Params.social }}
          <li class="list-inline-item">
            <a target="_blank" href="{{ .link | safeURL }}" aria-label="social-profile">
              <i class="{{ .icon }}"></i>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-lg-3 text-lg-start text-left
       mb-4 mb-lg-0">
        <div class="footer-news">
          <h3 class="mb-3 text-light">Latest News</h3>
          <ul class=" mb-0">
            {{ range first 5 (where site.RegularPages "Section" "in" site.Params.mainSections) }}
            <li class="mb-1">
              <a href="{{ .RelPermalink }}" class="text-decoration-none text-light">
                {{ .Title }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
        
      </div>
      <div class="col-lg-3 text-lg-start text-left mb-4 mb-lg-0">
        <h3 class="text-light">{{ i18n `our_newsletter` }}</h3>
        {{ i18n `newsletter_intro` }}
        {{ .Page.RenderString `{{< newsletter-signup >}}` }}
      </div>
    </div>
    <div class="text-center mt-4 align-items-center">
      <a href="{{ i18n `url_caru` }}"><img class="footer-logos" src="https://res.cloudinary.com/naturceredigion/image/upload/f_auto/v1720622380/caru-ceredigion.png" alt="{{ i18n `alt_caru` }}"></a>
      <a href="{{ i18n `url_ceredigion` }}"><img class="footer-logos" src="https://res.cloudinary.com/naturceredigion/image/upload/f_auto/v1720622381/ceredigion-council-wo.png" alt="{{ i18n `alt_ceredigion` }}"></a>
      <a href="{{ i18n `url_funded_welsh_govt` }}"><img class="footer-logos" src="https://res.cloudinary.com/naturceredigion/image/upload/v1720622381/welshgov.svg" alt="{{ i18n `alt_funded_welsh_govt` }}"></a>
      <div class="text-center mb-4 mb-lg-0">
        <ul class="footer-nav list-inline mb-0">
          {{ $len := len site.Menus.footer }}
          {{ range $index, $item := site.Menus.footer }}
          <li class="list-inline-item"><a class="text-dark d-block p-2" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
          </li>
          {{ if lt (add $index 1) $len }}
          <li class="list-inline-item">|</li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
      <p class="copyright">
        {{ site.Params.copyright | markdownify }}
        {{ if site.Params.theme_copyright }}
        {{ end }}
      </p>

    </div>
  </div>
</footer>
<!-- /footer -->
