$hilite: #ea4a2c;

body {
  font-size: 16px;
}
p, .paragraph, li {
  font-size: 16px;
}
.btn {
  text-transform: none;
}
.banner-image {
  border-radius: 50%;
}
.nav-link {
  text-transform: none;
  font-size: 1.2rem;
  &:hover {
    color: white !important;
  }
}
.search-box {
  min-width: 10rem;
}
.slider-block {
  top: -2rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-secondary;
  font-weight: 500;
}
.banner-creative {
  background-size: cover !important;
}

.banner-creative .title {
  color: white !important;
  text-shadow: 1.5px 1.5px 5px black;
}

.card-block {
  background-color: #fcfbf2 !important;
  border-radius: 3px;
}

.img {
  border-radius: 2px;
}

.navbar-nav li a {
  // color: #ea4a2c !important;
  color: $color_primary !important;
  font-weight: bold;
}

.navbar-nav li a:hover {
  background-color: $color-primary;
}
.navbar-nav li a:active {
  background-color: $hilite;
}

.card-overlapped .badge {
  background-color: $text_color !important;
  border-radius: 2px;
}

.navbar-nav li, .navbar-nav .dropdown-item {
  font-size: 1.1rem;
}

// Do we need this? TODO
@media (min-width: 991px) {
  .navigation .dropdown-menu {
    width: auto;
  }
}

.navigation {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.161)
}

a:active {
  color: $hilite;
}

a.text-dark:active {
  color: $hilite !important;
}

.pagination .page-item .page-link:active,
.social-icon a:active {
  background-color: $hilite;
}

.copyright {
  font-size: 0.8rem;
}

.footer-nav a {
  color: $text_color;
  font-size: 1.4rem;
  font-weight: bold;
}

.banner-creative .banner-image {
  transform: rotate(15deg);
  opacity: 0.9;
}

.footer-logos {
  margin: 0 0.5rem 1rem;
  width:9rem;
}

.newsletter {
  background-color: #f6fbff;
  background-repeat: no-repeat;
  background-position: right;
}

.content ul li {
  list-style-type: disc;
}

h1.title {
  position: relative;
  top: -38px;
}

.featured-post-slider::before {
  height: 0;
}

.about--words {
  background-color: white;
  opacity: 0.8;
  padding: 1rem 0.7rem 1rem 1.2rem;
}

.about--words .content h2,
.about--words .content p {
  color: black;
}
