$hilite: #ea4a2c;

body {
  font-size: 16px;
}
p, .paragraph, li {
  font-size: 16px;
}
.btn {
  text-transform: none;
}
.banner-image {
  border-radius: 50%;
}
.banner-creative .container {
  margin-left: -15px;
  padding-left: 0;
}
.banner-creative .title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 1.5rem 1rem 4rem;
  border-radius: 5px;
}
.nav-link {
  text-transform: none;
  font-size: 1rem !important;
  &:hover {
    color: white !important;
  }
}
.navbar-nav li, .navbar-nav .dropdown-item {
  font-size: 0.9rem !important;
}
.navbar-brand {
  max-width:400px;
}
.search-box {
  min-width: 10rem;
}
.slider-block {
  top: -2rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font-secondary;
  font-weight: 500;
}
.navbar {
  font-family: $font-secondary;
}
.banner-creative {
  background-size: cover !important;
}

.banner-creative .title {
  color: white !important;
}

.card-block {
  background-color: #fcfbf2 !important;
  border-radius: 5px;
}


.card-overlapped .card-block {
  background-color: #3e6693 !important;
  a, p, div {
    color: #f0f0f0 !important;
  }

}
.img {
  border-radius: 2px;
}

.navbar-nav li a {
  // color: #ea4a2c !important;
  color: $color_primary !important;
  font-weight: bold;
}

.navbar-nav li a:hover {
  background-color: $color-primary;
}
.navbar-nav li a:active {
  background-color: $hilite;
}

.card-overlapped .badge {
  background-color: #e7e567 !important;
  color:black;
  border-radius: 2px;
}
.card-overlapped img, .article-overlapped-list img {
  border-radius:5px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.1);
}
.article-overlapped-list .card-block {
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav li, .navbar-nav .dropdown-item {
  font-size: 1.1rem;
}

.experiences ::before, .experiences ::after {
  display: none;
}
.experiences .card {
  margin-bottom:50px
}

// Do we need this? TODO
@media (min-width: 991px) {
  .navigation .dropdown-menu {
    width: auto;
  }
}

.navigation, .navigation.nav-bg {
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05)
}
.navigation.nav-bg, .navigation {
  background-color:#fcfbf2 !important;
}

a:active {
  color: $hilite;
}

a.text-dark:active {
  color: $hilite !important;
}

.pagination .page-item .page-link:active,
.social-icon a:active {
  background-color: $hilite;
}

.social-icon a {
  border:none;
  font-size:22px;
}

.copyright {
  font-size: 0.75rem;
}

.footer-nav a {
  color: $text_color;
  font-size: 1.4rem;
  font-weight: bold;
}

.banner-creative .banner-image {
  transform: rotate(15deg);
  opacity: 0.9;
}

.footer-logos {
  margin: 0 0.5rem 1rem;
  width:9rem;
  filter: invert(1);
}
.footer.bg-dark, .footer.bg-dark p, .footer.bg-dark a {
  color:#f0f0f0 !important;
  background-color:#3e6693 !important;
}

.footer-nav a {
  font-size:0.9rem;
}

.newsletter {
  background-color: #ecf2f8;
  background-repeat: no-repeat;
  background-position: right;
}

.content ul li {
  list-style-type: disc;
}

h1.title {
  position: relative;
  top: -38px;
}

.featured-post-slider::before {
  height: 0;
}

.about--words {
  background-color: white;
  opacity: 0.8;
  padding: 1rem 0.7rem 1rem 1.2rem;
}

.about--words .content h2,
.about--words .content p {
  color: black;
}
