{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
        <form method="POST" action="{{ site.Params.contact_form_action | safeURL}}" class="row mb-4">
          <div class="col-md-6">
            <input type="text" class="form-control mb-4" placeholder="{{ i18n `contact_name` }}" name="name" id="name" required>
          </div>
          <div class="col-md-6">
            <input type="email" class="form-control mb-4" placeholder="{{ i18n `contact_email` }}" name="email" id="email" required>
          </div>
          <div class="col-12">
            <input type="text" class="form-control mb-4" placeholder="{{ i18n `contact_subject` }}" name="subject" id="subject" required>
          </div>
          <div class="col-12">
            <textarea name="message" id="message" class="form-control mb-4" placeholder="{{ i18n `contact_message` }}"
                      rows="5" required></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-primary btn-block w-100" type="submit">{{ i18n `send` }}</button>
          </div>
        </form>
        
      </div>
      {{ if .Params.Image }}
      <div class="col-lg-5 text-md-end">
        {{ partial "image.html" (dict "Src" .Params.image "Alt" .Title  "Class" "w-100") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
