{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
      </div>
      {{ if .Params.Image }}
      <div class="col-lg-5 text-md-end">
        {{ partial "image.html" (dict "Src" .Params.image "Alt" .Title  "Class" "w-100") }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
