{{ define "main" }}

<!-- banner -->
<section class="banner-creative" style="background-image:url({{ site.Params.Banner.background | absURL }});background-size:cover;background-position:50%;background-repeat:no-repeat">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-7 mb-4 mb-lg-0 order-1 order-lg-0">
        <h1 class="title">{{ site.Params.banner.title | markdownify }}</h1>
      </div>
      {{ with site.Params.banner.image }}
      <div class="col-lg-3 col-md-4 col-sm-6 order-0 order-lg-1 mb-5 mb-lg-0">
        {{ partial "image.html" (dict "Src" . "Alt" "banner-image" "Class" `banner-image`) }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /banner --> 

<!-- featured-post-slider -->
<div class="featured-post-slider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="swiper slider-block">
          <div class="swiper-wrapper">
            {{ range where site.RegularPages ".Params.featured" "=" true }}
            <div class="swiper-slide">
              <article class="card-overlapped post-item col mb-5">
                <div class="badge">Featured</div>
                {{ if .Params.image }}
                <a href="{{ .Permalink }}">
                {{ partial "image.html" (dict "Src" .Params.image "Alt" .Title "Class" `w-100`) }}
                </a>
                {{ end }}
                <div class="card-block">
                  <h2 class="h4 mb-2 fw-normal"><a class="post-title" href="{{ .Permalink }}">{{ .Title | markdownify
                    }}</a></h2>
                  <div class=" post-meta">
                    <a href="{{ `author/` | absLangURL }}{{ .Params.Author | urlize | lower }}/">{{ .Params.Author |
                      title
                      }}</a> <span class="mx-1">|</span>
                    {{ .PublishDate.Format "Jan 2, 2006" }} <span class="mx-1">|</span> {{ range .Params.Categories }}
                    <a href="{{ `categories/` | absLangURL }}{{ . | urlize | lower }}/">{{ . | title }}</a>
                    {{ end }}
                  </div>
                </div>
              </article>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /featured-post-slider -->

<!-- Newsletter -->
<div class="newsletter">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-lg-7 col-md-12 my-4 mb-lg-0 pe-5">
        <h2>{{ i18n `our_newsletter` }}</h2>
        <p class="lead">{{ i18n `newsletter_intro` }}</p>
        <div class="col-lg-7">
          {{ .Page.RenderString `{{< newsletter-signup >}}` }}
        </div>
      </div>
      <div class="col-lg-5 p-0 d-none d-lg-block">
        <img class="img" src="https://res.cloudinary.com/naturceredigion/image/upload/f_auto/v1720623469/waterfall.jpg" alt="Waterfall slow mo">
      </div>
    </div>
  </div>
</div>
<!-- /Newsletter -->

<!-- Aims -->
<div class="aims  mt-5">
  <div class="container">
    <div class="row  align-items-center justify-content-between">
      <div class="col-lg-5 p-0 d-none d-lg-block  pe-3">
        <img class="img" src="https://res.cloudinary.com/naturceredigion/image/upload/v1720624187/owlets-squareish.jpg" alt="Waterfall slow mo">
      </div>
      <div class="col-lg-7 col-md-12 mb-4 mb-lg-0">
          {{ .Page.RenderString `{{< aims  showText="false"  >}}` }}
      </div>
     
    </div>
  </div>
</div>
<!-- /Newsletter -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      <h2 class="text-center mb-5">{{ i18n `latest_news` }}</h2>
      <div class="col-lg-10 mx-auto">
        {{ $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections ) }}
        {{ range $paginator.Pages }}
        {{ .Render "article-w-image" }}
        {{ end }}
        <!-- pagination -->
        <div class="mt-5 pt-4">
          {{"<!-- pagination -->" | safeHTML }}
          {{ $paginator := .Paginator }}
          <!-- Number of links either side of the current page. -->
          {{ $adjacent_links := 2 }}
          <!-- $max_links = ($adjacent_links * 2) + 1 -->
          {{ $max_links := (add (mul $adjacent_links 2) 1) }}
          <!-- $lower_limit = $adjacent_links + 1 -->
          {{ $lower_limit := (add $adjacent_links 1) }}
          <!-- $upper_limit = $paginator.TotalPages - $adjacent_links -->
          {{ $upper_limit := (sub $paginator.TotalPages $adjacent_links) }}
          <!-- If there's more than one page. -->
          {{ if gt $paginator.TotalPages 1 }}
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center align-items-center">
              <!-- Previous page. -->
              {{ if $paginator.HasPrev }}
              <li class="page-item">
                <a href="{{ $paginator.Prev.URL }}" class="page-link" aria-label="See Newer Posts">
                  <i class="fas fa-chevron-left"></i>
                </a>
              </li>
              {{ end }}
              <!-- Page numbers. -->
              {{ range $paginator.Pagers }}
              {{ $.Scratch.Set "page_number_flag" false }}
              <!-- Advanced page numbers. -->
              {{ if gt $paginator.TotalPages $max_links }}
              <!-- Lower limit pages. -->
              <!-- If the user is on a page which is in the lower limit.  -->
              {{ if le $paginator.PageNumber $lower_limit }}
              <!-- If the current loop page is less than max_links. -->
              {{ if le .PageNumber $max_links }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Upper limit pages. -->
              <!-- If the user is on a page which is in the upper limit. -->
              {{ else if ge $paginator.PageNumber $upper_limit }}
              <!-- If the current loop page is greater than total pages minus $max_links -->
              {{ if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Middle pages. -->
              {{ else }}
              {{ if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add
              $paginator.PageNumber $adjacent_links) ) }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              {{ end }}
              <!-- Simple page numbers. -->
              {{ else }}
              {{ $.Scratch.Set "page_number_flag" true }}
              {{ end }}
              <!-- Output page numbers. -->
              {{ if eq ($.Scratch.Get "page_number_flag") true }}
              <li class="page-item{{ if eq . $paginator }} page-item active {{ end }}">
                <a href="{{ .URL }}" class="page-link">
                  {{ .PageNumber }}
                </a>
              </li>
              {{ end }}
              {{ end }}
              <!-- Next page. -->
              {{ if $paginator.HasNext }}
              <li class="page-item">
                <a href="{{ $paginator.Next.URL }}" class="page-link" aria-label="See Older Posts">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </li>
              {{ end }}
            </ul>
          </nav>
          {{ end }}
          {{"<!-- /pagination -->" | safeHTML }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /blog -->


{{ end }}

