<form
  action="https://buttondown.email/api/emails/embed-subscribe/NaturCeredigion"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/NaturCeredigion', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <div class="mb-3 mt-4">
    <label for="bd-email" class="form-label">Sign up to our newsletter:</label>
    <div class="input-group">
      <input type="email" name="email" id="bd-email" class="form-control" placeholder="you@example.com" required>
      <button type="submit" class="btn btn-outline-info py-0 ">Subscribe</button>
    </div>
  </div>

  <!-- Optional membership field -->
  <!--
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="bd-member" name="member">
    <label class="form-check-label" for="bd-member">
      If you agree with our <a href="https://cnp.cymru/aims/" target="_blank">aims</a>, become a member
    </label>
  </div>
  -->

  
</form>
